/* Global nav-bar and general styles */

@font-face {
  font-family: "San Francisco", Arial;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.globalnav {
  font-family: "San Francisco", Arial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
  height: 44px;
}

.globalnav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
}

.globalnav li {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.small-apple-logo,
.search-icon {
  width: 15px;
}

.shopping-icon {
  width: 25px;
}

.header-link,
.link-text {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.link-text {
  font-size: 13px;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  width: 100%;
}

footer {
  background-color: #f5f5f7;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* All products styles */

.cta-links-container {
  margin-top: 10px;
  text-align: center;
}

.cta-link {
  color: #2997ff;
  font-size: 21px;
  text-underline-offset: 2px;
  text-align: center;
  font-family: "San Francisco", Arial;
}

.cta-link:hover {
  text-decoration: underline;
}

.left-cta-link {
  margin-right: 28px;
}

.cta-links-container-sm {
  margin-top: 7px;
  text-align: center;
}

#cta-links-container-sm-1x2,
#cta-links-container-sm-2x2,
#cta-links-container-sm-3x1,
#cta-links-container-sm-3x2 {
  margin-top: 12px;
  text-align: center;
}

#cta-links-container-sm-2x1 {
  margin-top: 14px;
  text-align: center;
}

.cta-link-sm {
  color: #2997ff;
  font-size: 17px;
  text-underline-offset: 2px;
  text-align: center;
  font-family: "San Francisco", Arial;
}

.cta-link-sm:hover {
  text-decoration: underline;
}

#cta-link-sm-3x1 {
  color: rgb(0, 0, 0);
}

.left-cta-link-sm {
  margin-right: 28px;
}

/* First product styles */

.first-product-container {
  flex: 1;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
}

.first-product-container-upper {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.first-product-title,
.first-product-subtitle {
  text-align: center;
  font-family: "San Francisco", Arial;
}

.first-product-title {
  margin-top: 47px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 56px;
}

.first-product-subtitle {
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 28px;
}

.first-product-image-container {
  background-image: url("images/first-product/first-product.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 690px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

/* Second product styles */

.second-product-title,
.second-product-subtitle {
  text-align: center;
  font-family: "San Francisco", Arial;
}

.second-product-container {
  flex: 1;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
}

.second-product-container-upper {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.second-product-title {
  margin-top: 47px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 56px;
}

.second-product-subtitle {
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 28px;
}

.second-product-image-container {
  background-image: url("images/second-product/second-product.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 690px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

/* Third product styles */

.third-product-title,
.third-product-subtitle {
  text-align: center;
  font-family: "San Francisco", Arial;
}

.third-product-title {
  margin-top: 47px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 56px;
  max-width: 490px;
  letter-spacing: -3px;
}

.third-product-subtitle {
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 28px;
}

.third-product-container {
  flex: 1;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.third-product-container-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.third-product-image-container {
  background-image: url("images/third-product/third-product.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 690px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

/* Products' grid styles */

.products-grid-container-sm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 3 equal-width columns */
  grid-gap: 10px; /* Add gap between grid items */
}

.product-container-sm {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.product-container-upper-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#product-container-upper-sm-2x1 {
  bottom: 0;
  justify-content: end;
  padding-bottom: 54px;
}

.product-title-sm,
.product-subtitle-sm,
.callout {
  text-align: center;
  font-family: "San Francisco", Arial;
}

.product-title-sm {
  margin-top: 53px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 40px;
}

.product-subtitle-sm {
  margin-top: 3px;
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 21px;
}

.callout {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 400;
  color: #6e6e73;
}

#product-subtitle-sm-1x2 {
  margin-top: 15px;
  color: rgb(255, 255, 255);
}

#product-subtitle-sm-2x2 {
  margin-top: 10px;
}

#product-subtitle-sm-3x1 {
  margin-top: 9px;
}

#product-subtitle-sm-3x2 {
  margin-top: 9px;
  max-width: 290px;
}

#apple-watch-logo {
  margin-top: 59px;
  width: 130px;
}

#vision-pro-logo {
  width: 200px;
}

#trade-in-logo {
  margin-top: 58px;
  width: 150px;
}

#apple-arcade-logo {
  margin-top: 57px;
  width: 150px;
}

#apple-card-logo {
  margin-top: 58px;
  width: 110px;
}

.product-image-container-sm {
  width: 100%;
  height: 580px;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

#product-image-container-sm-1x1 {
  background-image: url("images/products/macbook-air-15.jpg");
}

#product-image-container-sm-1x2 {
  background-image: url("images/products/apple-watch-series-8.jpg");
}

#product-image-container-sm-2x1 {
  background-image: url("images/products/vision-pro.jpg");
}

#product-image-container-sm-2x2 {
  background-image: url("images/products/trade-in.jpg");
}

#product-image-container-sm-3x1 {
  background-image: url("images/products/apple-arcade.jpg");
}

#product-image-container-sm-3x2 {
  background-image: url("images/products/apple-card.jpg");
}

/* TV shows styles */

.tv-shows-container {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.first-show-container {
  flex: 1;
  /* flex-grow: 1;
  flex-shrink: 0.5;
  flex-basis: 0%; */
  position: relative;
  cursor: pointer;
}

.second-show-container {
  flex: 4;
  /* flex-grow: 4;
  flex-shrink: 0;
  flex-basis: 0%; */
  position: relative;
  cursor: pointer;
}

.third-show-container {
  flex: 1;
  /* flex-grow: 1;
  flex-shrink: 0.5;
  flex-basis: 0%; */
  position: relative;
  cursor: pointer;
}

.first-show-image-container,
.second-show-image-container,
.third-show-image-container {
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 667px;
}

#first-show-image-container-1 {
  background-image: url("images/television/the-after-party.jpg");
  background-position: right;
  opacity: 0.3;
}

#second-show-image-container-2 {
  background-image: url("images/television/the-beanie-bubble.jpg");
  background-position: center;
}

#third-show-image-container-3 {
  background-image: url("images/television/physical.jpg");
  background-position: left;
  opacity: 0.3;
}

.second-show-container-lower {
  display: flex;
  align-items: center;
  position: absolute;
  background: transparent;
  bottom: 50px;
  left: 70px;
  width: 100%;
  z-index: 1;
}

.stream-now-button,
.genre-description,
.genre,
.dot {
  font-family: "San Francisco", Arial;
}

.stream-now-button {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #1d1d1f;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  padding: 13px 23px;
  white-space: nowrap;
  cursor: pointer;
}

.stream-now-button:hover {
  opacity: 0.9;
}

.play-button {
  width: 15px;
  padding-left: 4px;
}

.genre-description {
  margin-left: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.genre,
.dot {
  font-size: 20px;
  font-weight: 700;
}

.tv-shows-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  position: relative;
}

.dot-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 3px;
}

.dot-list-item {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 34px;
  color: rgba(0, 0, 0, 0.42);
}

.pause-button {
  width: 22px;
  cursor: pointer;
  position: absolute;
  right: 35px;
}

#active {
  color: rgb(0, 0, 0);
}

/* Footer styles */

.footer-container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  font-family: "San Francisco", Arial;
}

.footer-notes-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 11px;
}

.footer-notes-list {
  list-style: none;
}

.footer-notes-list-item {
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 1.33;
  color: #6e6e73;
}

.footer-link-1,
.footer-link-2,
.footer-link-4 {
  color: #424245;
}

.footer-link-3 {
  color: #06c;
}

.footer-link-2,
.footer-link-4 {
  text-decoration: none;
}

.footer-link-2:hover,
.footer-link-4:hover {
  text-decoration: underline;
}

.footer-link-4 {
  padding-right: 10px;
}

#footer-link-4-no-padding {
  padding: 0;
}

.footer-5-columns-nav {
  font-family: inherit;
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  padding-top: 20px;
  flex-wrap: nowrap;
}

.footer-5-columns-nav-column {
  flex-basis: 25%;
}

#footer-5-columns-nav-column-section-top-padding {
  padding-top: 24px;
}

.nav-column-title {
  color: #1d1d1f;
  font-size: inherit;
  margin-bottom: 10px;
  margin-right: 20px;
}

.nav-column-list {
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

.nav-column-list-item {
  cursor: pointer;
  margin-bottom: 0.8em;
}

#nav-column-list-item-no-margin-bottom {
  margin-bottom: 0;
}

.footer-bottom-container {
  padding-top: 34px;
  padding-bottom: 21px;
  font-size: 12px;
  color: rgb(110, 110, 115);
}

.footer-shop-container {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
  font-size: 1em;
  color: inherit;
}

.footer-legal-container {
  font-size: 1em;
  color: inherit;
  position: relative;
  top: -3px;
  z-index: 1;
  display: inline-block;
}

.footer-legal-copyright {
  margin-top: 5px;
  margin-right: 30px;
  float: left;
}

.footer-legal-links {
  list-style-type: none;
  margin-top: 5px;
  margin-right: 30px;
  display: inline-block;
  position: relative;
  top: -5px;
  z-index: 1;
  margin-inline-start: 0;

}

.footer-legal-links-item {
  border-right: 1px solid #86868b;
  display: inline-block;
  margin-top: 5px;
  margin-right: 7px;
}

#footer-legal-links-item-no-border {
  border: none;
}

.footer-locale {
  float: right;
  margin-top: 5px;
  position: relative;
  top: -3px;
  z-index: 2;
  white-space: nowrap;
}

/* Media queries */

@media screen and (max-width: 1068px) {
  .first-product-title,
  .second-product-title,
  .third-product-title {
    font-size: 48px;
  }

  .first-product-subtitle,
  .second-product-subtitle,
  .third-product-subtitle {
    font-size: 24px;
  }

  .cta-link {
    font-size: 19px;
  }

  .product-title-sm {
    font-size: 32px;
    margin-top: 42px;
  }

  .product-subtitle-sm {
    font-size: 19px;
  }

  .cta-links-container-sm {
    margin-top: 10px;
  }
}

@media screen and (max-width: 734px) {
  .first-product-title,
  .second-product-title,
  .third-product-title {
    font-size: 32px;
  }

  .first-product-subtitle,
  .second-product-subtitle,
  .third-product-subtitle {
    font-size: 19px;
  }

  .cta-link {
    font-size: 17px;
  }

  .products-grid-container-sm {
    grid-template-columns: 1fr; /* Change to a single column */
  }

  .product-container-sm {
    margin-bottom: 5px;
  }

  .product-title-sm {
    font-size: 32px;
    margin-top: 37px;
  }

  .product-subtitle-sm {
    font-size: 19px;
  }

  .cta-links-container-sm {
    margin-top: 10px;
  }
}
